.module-content-div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.module-content-div p {
    padding: 20px;
    max-width: 800px;
    border:1px solid black;
}

.module-content-div button {
    display: inline-block;
    background-color: #D5FFF3;
    margin: 20px;
    cursor: pointer;
}