* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #4790FC;
  font-family: "Essays 1743", "Linux Libertine", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
}
